@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&family=Rokkitt:wght@100;200;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background-color: #FCFCFC;
    font-family: 'Roboto', sans-serif; 
    font-weight: 300;   
}
.primary-div-spacing {
    padding-top: 20px;
    padding-bottom: 20px;
}
h1 {
    text-align: center;
    font-family: 'Rokkitt', serif;
    font-weight: 100;
}
h2 {
    font-weight: 500;
    font-size: 1em;
}
header {
    text-align: center;
}
header i {
    font-size: 2em;
    color: #C4C4C4;
}
#hero {
    background-image: url("../images/pw.png");
    background-size: 50vh;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 90vh;
}
#hero-heading {
    margin: auto;
}
#hero h1 {
    font-size: 9.5vw;
    letter-spacing: 0.5em;
    line-height: 75%;
    color: #DCDCDC;
    mix-blend-mode: exclusion;
}
#me-now {
    background-color: #FCFCFC;
}
#me-now p {
    max-width: 975px;
    margin: auto;
}

main {
    background-color: #FFE2E2;
}
#cv {
    text-align: center;
}
#cv i {
    margin-top: 20px;
}
#cv p {
    max-width: 975px;
    margin: auto;
}
footer {
    background-color: #C4C4C4;
    text-align: center;
}



@media all and (min-width: 1025px) {
    #hero h1 {
        font-size: 6.5vw;
        letter-spacing: 0.5em;
    }
}
