@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&family=Rokkitt:wght@100;200;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background-color: #FCFCFC;
    font-family: 'Roboto', sans-serif; 
    font-weight: 300;
}
.primary-div-spacing {
    padding-top: 20px;
    padding-bottom: 20px;
}
h1 {
    text-align: center;
    font-family: 'Rokkitt', serif;
    font-weight: 100;
}
h2 {
    font-weight: 500;
    font-size: 1em;
}
h3 {
    font-weight: 500;
    font-size: 0.9em;
}
.pink {
    color: #FFE2E2;
}
header {
    text-align: center;
}
#hero {
    background-image: url("../images/pw.png");
    background-size: 48vh;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 90vh;
}
#hero-heading {
    margin: auto;
}
#hero h1 {
    font-size: 9.5vw;
    letter-spacing: 0.5em;
    line-height: 75%;
    color: #DCDCDC;
    mix-blend-mode: exclusion;
}
#me-now {
    background-color: #FCFCFC;
    padding-bottom: 40px;
}
#me-now p {
    max-width: 975px;
    margin: auto;
    padding: 20px 20px 0 20px;
}
#nav-bar {
    background-color: #505050;
    text-align: center;
    color: #FFE2E2;
}
#nav-bar-menu {
    margin: 0;
}
#nav-bar-menu li {
    padding-left: 10px;
    padding-right: 10px;
}
#nav-bar a {
    color: #FFE2E2;
    text-decoration: none;
}
main {
    background-color: #FFE2E2;
    padding: 0 20px 0 20px;
}
#projects {
    max-width: 975px;
    margin: auto;
    text-align: center;
}
#projects img {
    width: 300px;
    padding-bottom: 20px;
}
#projects p {
    text-align: left;
}
#projects a {
    text-decoration: none;
    color: #505050;
}
.project-container {
    border-bottom: 1px solid #ffc7c7;
    padding-top: 40px;
    padding-bottom: 20px;
}
#logos {
    max-width: 975px;
    margin: auto;
    align-content: center;
}
#logos img {
    height: 80px;
    padding: 20px;
}
#cv ul {
    text-align: center;
}
#cv li {
    padding: 20px 0 20px 0;
}
#cv p {
    max-width: 975px;
    margin: auto;
    padding: 0 20px 0 20px;
}
footer {
    background-color: #505050;
    text-align: center;
    color: #FFE2E2;
}
footer a {
    color: #FFE2E2;
    text-decoration: none;
}
footer a:visited {
    color: #FFE2E2;
    text-decoration: none;
}



@media all and (min-width: 1025px) {
    #hero h1 {
        font-size: 6.5vw;
        letter-spacing: 0.5em;
    }
    #cv {
        text-align: center;
    }
    #projects img {
        float: left;
        width: 350px;
        padding: 0 20px 0 20px;
    }
    #projects h2 {
        text-align: left;
    }
    .project-links {
        clear: both;
    }
    #projects li {
        padding: 20px;
    }
}
